:root {
    --text-col: #fff;
    --background: #000;
    --font: Impact, monospace;
    --min-width: 120px;
    --text: "[ REDACTED ]";
    --weight: 600;
}

/*txt*/
.spoilerContent__299eb.hidden__299eb code {
    border: none;
    background: none;
}
.spoilerContent__299eb.hidden__299eb {
    border: var(--text-col) 2px solid;
    border-top: none;
    border-bottom: none;

    margin-left: 5px;
    margin-right: 5px;

    background: var(--background);
    border-radius: 0px;

    display: inline-flex;
    overflow: hidden;
    position: relative;

    min-width: var(--min-width);
}

.spoilerMarkdownContent__299eb.hidden__299eb::before {
    content: var(--text);

    inset: 0;
    position: absolute;

    color: var(--text-col);
    font-family: var(--font);
    font-weight: var(--weight);

    align-items: center;
    display: inline-flex;
    justify-content: center;

    white-space: nowrap;
}

.spoilerMarkdownContent__299eb.hidden__299eb {filter: none;}

/*img*/
.oneByOneGridSingle_f4758a {max-height: none;} /*bottom bar*/
.visualMediaItemContainer_f4758a, .oneByOneGridSingle_f4758a {
    border-radius: 0px !important;
}

.mosaicItemMediaMosaic__6c706 > .spoilerContent__299eb.hidden__299eb {
    border: var(--text-col) solid;
    border-radius: 0px;
}
.spoilerContainer__299eb.hidden__299eb:not(:focus)::before {
    content: var(--text);

    inset: 0;
    z-index: 10;
    position: absolute;

    color: var(--text-col);
    background: var(--background);
    font-family: var(--font);
    font-weight: var(--weight);

    align-items: center;
    display: inline-flex;
    justify-content: center;
}
